NEXT_PUBLIC_SUPABASE_URL=https://fxneulhcsbzohvocudgu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_YYsJ0dCtBW2G2Pyc34UpxQ_obW0FlEh
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ4bmV1bGhjc2J6b2h2b2N1ZGd1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzE3MzQ4NiwiZXhwIjoyMDkyNzQ5NDg2fQ.16KoDRt2CKzOR8s4nrQ_T3M8EAao_aqeKzdU7Ta8NcA
PRODUCT_SOURCE_URL=
NEXT_PUBLIC_CONTACT_PHONE=+1 (806) 290-4949
NEXT_PUBLIC_SKINCARE_URL=https://beakergold.com/
