NEXT_PUBLIC_SUPABASE_URL=https://mrnukgneveazjxjljpvr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key
PRODUCT_SOURCE_URL=
NEXT_PUBLIC_CONTACT_PHONE=+1 (000) 000-0000
NEXT_PUBLIC_SKINCARE_URL=https://example.com/
NEXT_PUBLIC_SENTRY_DSN=your_sentry_dsn_url
